html,body{
    background-image: linear-gradient(45deg,#0060cf,#0094cf,#007ccf,#00c4ba);
    margin: 0;
    height: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@keyframes box {
    0% {height: 0px; width: 0px;}
    50% {height: 50%; width: 50%;}
    100% {height: 99%; width: 99%;}
}
@keyframes shuriken{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes spin { 
    100% { 
        transform: rotate(360deg);
    } 
}
#sub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: black 2px solid;
    border-radius: 10px;
    animation-name: box;
    animation-duration: 2s;
    height: 99%;
    width: 99%;

}
#loading{
    max-width: 50%;
    object-fit: contain;
    animation-name: shuriken, spin;
    animation-duration: 4s;
    opacity: 1;
}